@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
  --primary: hsl(223, 87%, 63%);
  --secondary: hsl(223, 100%, 88%);
  --red: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --darkblue: hsl(209, 33%, 12%);

  --fontsize: 20px;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--fontsize);
    font-family: 'Libre Franklin', sans-serif;
}

#logo {
    margin-top: 3rem;
}

#launching {
    color: var(--gray);
    font-size: 3rem;
    margin-top: 2rem;
}

.bold-black {
    color: var(--darkblue);
    font-weight: 700;
}

#subscribe-text {
    color: var(--darkblue);
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

#wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#main-img {
  width: 650px;
  margin: 4rem 0;
}

input {
    border-radius: 2rem;
    outline: none;
    background: none;
    width: 380px;
    border: 1px solid var(--secondary);
    padding: 1rem;
    /* color: var(--secondary); */
}

button {
    margin-left: 15px;
    border: none;
    border-radius: 2rem;
    padding: 1rem 4rem;
    background: var(--primary);
    box-shadow: 0 5px 10px 1px var(--secondary);
    color: white;
    transition: all 200ms;
}

button:hover {
    opacity: 0.9;
}

input::placeholder {
    color: var(--secondary);
}

#socials {
    display: flex;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    border: 2px solid whitesmoke;
    color: var(--primary);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-decoration: none;
    transition: all 200ms;
}

.social-link:hover {
    opacity: 0.9;
}

footer {
    margin-top: 15px;
    color: var(--gray);
    font-size: 1rem;
}